<div>
    <div id="profile">
        <div *ngFor="let assessment of assessments">
            <h3>{{ assessment.name }}</h3>
            <p>ID: {{ assessment.id }}</p>
            <img style="border-radius: 100px;" [src]="assessment.image_url" alt="{{ assessment.name }}">
        </div>
    </div>
    <div id="button-container" *ngFor="let assessment of assessments">
        <div *ngIf="!isGraph" (click)="printGraph(assessment.id)" id="button"><button mat-raised-button>Get Graph</button></div>
        <div>
            <div *ngIf="isGraph">
                <form [formGroup]="form">
                    <div *ngFor="let item of graph.data | keyvalue">
                        <input type="text" placeholder="{{item.key}}" formControlName="{{item.key}}">
                    </div>
                    <div>
                        <input type="button" (click)="onSubmit()" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>